@font-face {
  font-family: vazir;
  src: url("../fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: vazir;
  src: url("../fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: bold;
}

