/* ========================== Fonts  */
@font-face {
  font-family: vazir;
  src: url("../fonts/Vazirmatn-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: vazir;
  src: url("../fonts/Vazirmatn-Bold.woff2") format("woff2");
  font-weight: bold;
}

body {
  font-family: vazir;
}

/* ========================== CSS Variables */

:root {
  --blue-light: #007dfe;
  --blue-dark: #4d63dd;
  --blue-dark-2: #0137a4;
}

/* ========================== CSS Reset */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

/* ========================== Btn Round */
.btn-round a {
  background-color: var(--blue-dark-2);
  font-size: 1.5rem;
  color: #fff;
  display: inline-block;
  padding: 0.6rem 2rem 0.6rem 0.4rem;
  border-radius: 2rem;
  transition: all 0.3s ease;
}

.btn-round span {
  margin-left: 1rem;
}

.btn-round i {
  vertical-align: middle;
  background-color: var(--blue-dark);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  text-align: center;
  line-height: 3rem;
  transition: all 0.3s ease;
}

.btn-round a:hover {
  background-color: var(--blue-dark);
}

.btn-round a:hover i {
  background-color: var(--blue-dark-2);
}

/* ========================== Btn Main */

.btn-main a {
  background-color: var(--blue-dark);
  display: inline-block;
  color: #fff;
  padding: 0.8rem 3rem;
  font-size: 1.4rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}

.btn-main a span {
  margin-left: 1.2rem;
}

.btn-main a i {
  vertical-align: middle;
  font-size: 1.2rem;
}

.btn-main a:hover {
  background-color: var(--blue-dark-2);
}

/* ========================== Responsive Btn */
.responsive-btn {
  background-color: #efefef;
  outline: none;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  font-size: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ========================== Header Main  */

.header-main {
  background-image: url("../images/header/bg-header.jpg");
  background-position: center top;
  background-size: cover;
  padding: 3rem 0;
  height: 60rem;
}
.header-main__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-main__menu {
  background-color: #fff;
  box-shadow: 0 4px 14px rgba(5, 81, 81, 0.07);
  padding: 1rem;
  border-radius: 0.5rem;
}
.header-main__menu-brand a img {
  width: 10rem;
}
.header-main__menu-list > ul {
  display: flex;
  align-items: center;
}
.header-main__menu-list > ul > li {
  position: relative;
  margin-left: 4rem;
  padding: 1.7rem 0;
}
.header-main__menu-list ul li a {
  font-size: 1.5rem;
  color: #001b24;
  position: relative;
  transition: color 0.3s ease;
}
.header-main__menu-list > ul > li:hover > a {
  color: var(--blue-light);
}
.header-main__menu-list > ul li i {
  font-size: 1.1rem;
  color: #587c8a;
  margin-right: 0.8rem;
  vertical-align: middle;
}
.header-main__menu-list > ul > li::after {
  content: "";
  position: absolute;
  background-color: var(--blue-light);
  width: 20%;
  height: 0.2rem;
  bottom: 0.3rem;
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: all 0.3s ease;
  opacity: 0;
}
.header-main__menu-list > ul > li:hover::after {
  opacity: 1;
  visibility: visible;
  width: 90%;
}
.header-main__menu-list > ul > li:hover > a > i {
  color: var(--blue-light);
}

/* ========================Level 1 menu */
.header-main__menu-list > ul > li > ul {
  position: absolute;
  background-color: #fff;
  width: 25rem;
  right: 0;
  top: 5.7rem;
  padding: 1.4rem;
  border-radius: 0.4rem;
  box-shadow: 0 4px 14px rgba(5, 81, 81, 0.07);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  transform: translateY(5rem);
}

.header-main__menu-list > ul > li:hover > ul {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.header-main__menu-list > ul > li > ul li {
  padding: 1rem;
  border-top: 1px solid #efefef;
  position: relative;
  transition: all 0.3s ease;
}

.header-main__menu-list > ul > li > ul li:first-child {
  border-top-color: transparent;
}

.header-main__menu-list > ul > li > ul li:hover {
  background-color: #efefef;
}
.header-main__menu-list ul li ul li a i {
  float: left;
  line-height: 2rem;
}

/* ========================Level 2 menu */
.header-main__menu-list ul > li > ul li ul {
  position: absolute;
  width: 25rem;
  background-color: #fff;
  right: 106%;
  top: 0;
  padding: 1.4rem;
  border-radius: 0.4rem;
  box-shadow: 0 4px 14px rgba(5, 81, 81, 0.07);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.header-main__menu-list ul > li > ul li:hover ul {
  opacity: 1;
  visibility: visible;
}

/* ======================== Header Content */
.header-main__content {
  margin-bottom: 7rem;
}
.header-main__content-box {
  background-color: #fff;
  width: 40%;
  padding: 2rem 2rem 1rem;
  border-radius: 7rem 3rem 2rem 2rem;
}
.header-main__content-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #001b24;
}
.header-main__content-desc {
  font-size: 1.5rem;
  line-height: 3rem;
}

/* ========================== Responsive Menu */
.responsive-menu__header {
  background-color: #f6f7f8;
  border-bottom: 1px solid #d0d7de;
  height: 6vh;
  padding: 0 2.5rem;
}
.responsive-menu__header .btn-close {
  font-size: 1.4rem;
  color: #57606a !important;
  opacity: 1;
}
.responsive-menu__body {
  height: 100%;
  overflow-y: scroll;
}
.responsive-menu__list > ul > li {
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 0.5rem;
  padding: 1.5rem 1rem;
}
.responsive-menu__list > ul > li:last-child {
  border-bottom: none;
}
.responsive-menu__list > ul > li > a {
  font-size: 1.8rem;
  color: #242424;
}
.responsive-menu__list > ul > li i {
  background-color: #0098b1;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.2rem;
  color: #fff;
  float: left;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -3px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.responsive-menu__list ul li i.rotate {
  transform: rotate(180deg);
}
.responsive-menu__list > ul > li ul li i {
  background-color: #adb5bd;
  height: 2rem;
  width: 2rem;
  font-size: 1.1rem;
  margin-top: auto;
}
.responsive-menu__list > ul > li ul {
  background-color: #e9ecef;
  border-radius: 1rem;
  margin-top: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.responsive-menu__list > ul > li ul.show {
  margin-top: 2rem;
  height: auto;
  opacity: 1;
}
.responsive-menu__list > ul > li ul li {
  padding: 1.2rem 1rem;
}
.responsive-menu__list > ul > li ul li a {
  font-size: 1.6rem;
  color: #57606a;
}
.responsive-menu__list > ul > li ul li ul {
  background-color: #f8f9fa;
  border-right: 2px solid #dee2e6;
}

/* ========================== Head Info */
.head-info {
}
.head-info__title {
  font-size: 2rem;
  color: #1e266d;
  position: relative;
  display: inline-block;
}
.head-info__title::before {
  content: "";
  position: absolute;
  background-color: var(--blue-light);
  height: 0.2rem;
  width: 1.2rem;
  top: 50%;
  right: -2.2rem;
  transform: translateY(-50%);
}
.head-info__title::after {
  content: "";
  position: absolute;
  background-color: var(--blue-dark);
  height: 0.2rem;
  width: 2.5rem;
  top: 50%;
  right: -5rem;
  transform: translateY(-50%);
}
.head-info__desc {
  font-size: 2.2rem;
  color: #100221;
  font-weight: 600;
  line-height: 3.5rem;
}

/* ========================== Services Section */
.services {
  margin: 6rem 0;
}
.services__item {
  background-color: #fff;
  box-shadow: 0 4px 40px rgba(182, 185, 255, 0.32);
  border-radius: 3.2rem;
  padding: 3.5rem 3rem 6rem;
  position: relative;
  overflow: hidden;
}
.services__item-icon {
  background-color: #f2f9ff;
  width: 8rem;
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8rem 5rem 12rem 3rem;
}
.services__item-icon img {
  width: 4.5rem;
}
.services__item-title {
  font-size: 1.6rem;
  color: #262626;
  font-weight: 600;
}
.services__item-desc {
  font-size: 1.3rem;
  color: #262626;
  text-align: justify;
  line-height: 2.6rem;
}
.services__item-link a {
  background-color: #f2f9ff;
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #662d91;
  border-radius: 2rem 2rem 2rem 0;
  position: absolute;
  bottom: -0.6rem;
  left: -0.6rem;
  padding-left: 1rem;
  padding-bottom: 0.6rem;
  transition: all 0.3s ease;
}
.services__item-link a:hover {
  background-color: #3d3d3d;
  color: #fff;
}

.services__item--selected {
  background: linear-gradient(360deg, #6b63ff 0%, #1799fb 100%);
  z-index: 1;
  animation: service_item_selected 0.5s ease;
}

@keyframes service_item_selected {
  from {
    opacity: 0.5;
    border-radius: 30%;
    transform: skew(1deg, -10deg);
  }
  to {
    opacity: 1;
    transform: skew(0);
  }
}

.services__item--selected::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4rem;
  border: 4rem solid rgba(104, 123, 254, 0.24);
  padding: 4rem;
  z-index: -2;
  border-radius: 50%;
  bottom: -5.5rem;
  right: -2rem;
}
.services__item--selected::after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  border: 2rem solid rgba(104, 123, 254, 0.64);
  padding: 3rem;
  z-index: -1;
  border-radius: 50%;
  bottom: -3rem;
  right: -0.4rem;
}
.services__item--selected .services__item-title {
  color: #fff;
}

.services__item--selected .services__item-desc {
  color: #fcfaff;
}
.services__item--selected .services__item-icon {
  background-color: rgba(242, 249, 255, 0.15);
}

/* ***************** Responsive  ***************** */

/* to medium devices (tablets, less than 992px) */
@media (min-width: 768px) and (max-width: 991.98px) {
  html {
    font-size: 9px;
  }
  /* ===  Header Main Responsive */
  .header-main {
    height: 45rem;
  }
  /* ===  Header Main Content Responsive */
  .header-main__content {
    margin-bottom: 2rem;
  }
  .header-main__content-box {
    width: 60%;
  }
  /* === Services Responsive */
  .services__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 3rem;
  }
  .services__item-icon {
    width: 20%;
  }
  .services__item-title {
    width: 80%;
    padding-right: 2rem;
    font-size: 2rem;
  }
  .services__item-desc {
    font-size: 1.8rem;
    line-height: 4rem;
  }
  .services__item-link a {
    width: 6rem;
    height: 6rem;
  }
}

/* small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  html {
    font-size: 8px;
  }
  /* ===  Header Main Responsive */
  .header-main {
    height: 40rem;
  }
  .header-main__menu {
    padding: 1.3rem;
  }
  /* ===  Header Main Content Responsive */
  .header-main__content {
    margin-bottom: 0;
  }
  .header-main__content-box {
    width: 90%;
  }
  /* ===  Head Info Responsive*/
  .head-info__desc {
    width: 80%;
    margin: 0 auto;
  }
  /* === Services Responsive */
  .services__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem 3rem;
  }
  .services__item-icon {
    width: 20%;
  }
  .services__item-title {
    width: 80%;
    padding-right: 2rem;
    font-size: 2rem;
  }
  .services__item-desc {
    font-size: 1.8rem;
    line-height: 4rem;
  }
  .services__item-link a {
    width: 6rem;
    height: 6rem;
  }
}